html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Lato', sans-serif;
  margin: 0;
  background-color: rgba(66, 66, 70, 0.068);
}

.text-color {
  color: rgb(65,72,75);
}

/* Header Section */
.header {
  background-image: url("images/header.png");
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: cover;
  width: 100%;
  height: 100vh;
}

.header__menu {
  position: fixed;
  width: 100%;
}

.header__menu-item {
  display: flex;
  justify-content: center;
  background-color: rgba(66, 66, 70, 0.758);
  margin-top: 0;
  list-style-type: none;
  font-size: 22px;
}

.header__menu-items {
  padding: 15px 35px;
  font-variant: small-caps;
  letter-spacing: 2px;
  transition: all, .30s;
  margin-left: 20px;
}

.header__menu-items:hover {
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.817);
}

.header__menu-items a {
  color: #fff;
  text-decoration: none;
}

.header__menu-items:hover a {
  color: rgb(255, 217, 0);
}

input[type=text] {
  color: gold;
  width: 100%;
  box-sizing: border-box;
  border: 2px solid #fff;
  border-radius: 4px;
  font-size: 16px;
  background-color: rgba(66, 66, 70, 0.758);
  background-image: url('images/search-icon.png');
  background-size: 25px;
  background-position: 6px 6px; 
  background-repeat: no-repeat;
  padding: 10px 10px 8px 40px;
  margin-top: 7px;
  margin-left: 60px;
  transition: all, .20s ease-in;
}

input[type=text]:hover {
  color: gold;
  border: 2px solid gold;
}

/* input[type=text]:focus {
  width: 100%;
} */

.header__item {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.header__title {
  color: white;
  font-weight: 500;
  font-size: 60px;
  margin-bottom: 15px;
  line-height: 66px;
}

.header__vertical-line {
  background-color: white;
  width: 150px;
  height: 2px;
  margin-bottom: 15px;
}

.header__text {
  color: white;
  font-size: 26px;
  font-weight: 400;
  text-align: center;
  line-height: 36px;
  margin-top: 15px;
}

/* Main Section */
.main__section-title {
  padding-top: 40px;
  padding-bottom: 40px;
  font-size: 35px;
  font-weight: 600;
  text-align: center;
  transition: all, .20s ease-in;
  text-transform: uppercase;
}

.main__section-title:hover {
  background-color: #000;
  color: gold;
}
.main__box-item {
  display: flex;
  margin-left: 31px;
  margin-right: 32px;
  transition: all, .20s ease-in;
}

.main__box-item:hover {
  background-color: rgba(0, 0, 0, 0.836);
}

.main__box-item:hover p {
  color: #fff;
}

.main__box-item:hover h2 {
  color: gold;
}

.main__box-container {
  margin-top: 50px;
  margin-left: 40px;
  margin-right: 40px;
}

.main__box-title {
  color: rgb(65,72,75);
  font-size: 35px;
  margin-bottom: 0;
}

.main__box-paragraph {
  color: rgb(65,72,75);
  font-size: 25px;
  text-align: justify;
  margin-top: 10px;
}

/* Portfolio */
.portfolio {
  width: 100%;
}

.portfolio__images {
  margin-left: 10px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.portfolio__images img {
  width: 356px;
  height: 336px;
  margin: 10px 15px;
  transition: all, .20s ease-in;
}

.portfolio__images img:hover {
  opacity: .2;
  cursor: pointer;
}

/* Endnote Section */
.endnote__section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(66,72,76);
  color: white;
  height: 270px;
  margin-top: 60px;
  margin-bottom: 10px;
}

.endnote__title {
  font-size: 36px;
  font-weight: 500;
  margin-top: 45px;
  margin-bottom: 12px;
}

.endnote__text {
  color: rgb(255,255,255);
  font-size: 22px;
  font-weight: 400;
  line-height: 31px;
  text-align: center;
  margin: 0;
}

.endnote__lorem {
  font-size: 24px;
  font-weight: 700;
  line-height: 31px;
}

/* Footer Section */
.footer__logos {
  display: flex;
  justify-content: center;
}

.fa-brands {
  font-size: 50px;
  color: rgb(66,72,76);
  margin-top: -10px;
  margin-right: 20px;
}

.footer__logos li {
  list-style-type: none;
}

.footer__author {
  font-size: 22px;
  line-height: 31px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 200px;
}